@model Shelter.Models.Advert

<h2>@Model.Title</h2>

<div class="thumbnail">
    <img alt="@Model.Title" src="@Model.ImageUrl" />
    <div class="caption-full">

        @if (@Model.ReservingId == null)
        {
            <form asp-action="Reserve">
                <input asp-controller="Advert" asp-action="Reserve" asp-route-id="@Model.AdvertId" type="submit" value="Reserve" class="btn btn-success pull-right" />
            </form>
        }
        else
        {
            <form asp-action="Reserve">
                <input asp-controller="Advert" asp-action="Reserve" asp-route-id="@Model.AdvertId" type="submit" value="Reserved" class="btn btn-danger pull-right" disabled />
            </form>}
        <h3>
            @Model.Title
        </h3>
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription </p>

    </div>
</div>