@{

    Layout = "_Layout";
    ViewData["Title"] = "Home";
}
@model IEnumerable<Shelter.Models.Advert>
@using System.Security.Claims;

    <div class="text-center">
        <h4 class="display-4">List of adverts</h4>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

        @foreach (var advert in Model)
        {   
          <div>  
                <div class="col-sm-1 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="@advert.ImageUrl" class="thumbnail img" alt=""/>
                    <div class="caption">
                        @if (@advert.ReservingId == null)
                        {
                        <span class="label label-success badge-pill">Avaiable</span>
                        }
                        else
                        {
                        <span class="label label-danger badge-pill">Reserved</span>
                        }
                        <h4>
                            <a asp-controller="Advert" asp-action="Details" asp-route-id="@advert.AdvertId">@advert.Title</a>
                        </h4>
                        <h4>
                            @advert.ShortDescription
                        </h4>
</div>
                </div>
            </div>
          </div>
        }
    </div>
